@font-face {
    font-family: 'EricaFunFont';
    src: url('../fonts/Ericafunfont-Regular.woff2') format('woff2');
    font-weight: normal; 
    font-style: normal;  
}

* {
    font-family: 'EricaFunFont', serif;
    color: #27828C;
}

header {
    font-size: 20px;
    margin-left: 700px;
    margin-right: 20px;
    margin-top: -50px;
    height: 100px;
    vertical-align: center;
}

.header {
    background-color: #27828C;
    width: 100%;
    text-align: center;
    font-size: 8px;
    vertical-align: center;
}

.header-valign {
    align-items: center;
}

.nav .nav-item .nav-link {
    color:#0D0D0D;
    vertical-align: center;
}

.nav .nav-item:hover .nav-link {
    color: #BF4F36 !important;
    vertical-align: center;
}

.container {
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.section {
    display: block;
    justify-content: center;
    text-align: center;
}

.headshot {
    justify-self: center;
    width: 20rem;
    height: 20rem;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 37px;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.headshot img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.headshot img:hover {
    transform: scale(1.2);
}

p {
    color: #0D0D0D;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
}

.skills {
    padding: 10px 0 10px 10px;
    font-size: 16px;
    text-align: center;
    color: #556573;
}

.skill {
    text-align: center;
    display: inline-flex;
    margin: 5px;
    font-size: larger;
}

.skill-vazio {
    margin-left: 10px;
    height: 20px;
    width: 20px;
    background-color:#BBBBBB;
    border-radius: 50%;
    display: inline-block;
}

.skill-cheio {
    margin-left: 10px;
    height: 20px;
    width: 20px;
    background-color: #556573;
    border-radius: 50%;
    display: inline-block;
}

img {
    text-align: center;
    display: inline-flex;
    margin: 0 auto;
    height: 300px;
    width: 300px;
}
  
h4 {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    color: #0D0D0D;
}

.projects {
    display: inline-flex;
}

.project-box h4 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.project-box h5 {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    color: #0D0D0D;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.project-box p {
    font-size: 1rem;
    font-weight: 300;
    color: #494a4a;
    font-family: 'Roboto', sans-serif;

}

.project-box img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-radius: 0.25rem;
    margin-bottom: 0.75rem;
}

.project-box {
    flex: 0 0 16rem; /* Fixed width for the boxes */
    text-align: center;
    border: 1px solid #d7dbd8;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for scaling */
}

.project-box:hover {
    transform: scale(0.95); /* Grow the box slightly on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Cards Swiper */
.swiper {
    width: 100%;
    overflow-x: scroll !important;
}

.swiper-slide {
    width: 272px !important;
    height: 400px;
}

.swiper-slide > a {
    display: block;
    transform: scale(0.9);
    width: 272px;
    height: 400px;
}

.swiper-wrapper {
    justify-content: center;
}
