@font-face {
    font-family: 'EricaFunFont';
    src: url('../fonts/Ericafunfont-Regular.woff2') format('woff2');
    font-weight: normal; 
    font-style: normal;  
}


* {
    font-family: 'EricaFunFont', serif;
    color: #27828C;
}

header {
    color: #27828C;
    font-size: 20px;
    margin-left: 700px;
    margin-right: 20px;
}

.nav .nav-item .nav-link {
    color:#27828C;
}

.nav .nav-item:hover .nav-link {
    color: #BF4F36 !important;
}

.container {
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.section {
    display: flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p {
    color: #0D0D0D;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
}

.skills {
    padding: 10px 0 10px 10px;
    font-size: 16px;
    text-align: center;
    color: #556573;
}

.skill {
    text-align: center;
    display: inline-flex;
    margin: 5px;
}

.skill-vazio {
    margin-left: 10px;
    height: 20px;
    width: 20px;
    background-color:#BBBBBB;
    border-radius: 50%;
    display: inline-block;
}

.skill-cheio {
    margin-left: 10px;
    height: 20px;
    width: 20px;
    background-color: #556573;
    border-radius: 50%;
    display: inline-block;
}

img {
    text-align: center;
    display: inline-flex;
    margin: 0 auto;
    height: 300px;
    width: 300px;
}
  